@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');

.wrapper {
    position: relative;
    height: 100vh;
    padding: 40px 80px;
}

.favorites-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


@media (max-width: 1200px) {
    .favorites-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .favorites-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .favorites-container {
        grid-template-columns: unset;
    }
}


@media (max-width: 750px) {
    .wrapper {
        padding: 0 20px;
        height: 1900px
    }
    .favorites-container {
        display: unset;
    }
}

@media (max-width: 900px) {
    .favorites-container {
        display: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
